.subtitle-bar {
  position: absolute;
  height: 80px;
  background-color: rgba(72, 61, 139, 0.8);
  border-radius: 4px;
  display: flex
;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: -20px;
  left: 20px;
}
  
  .subtitle-text {
    color: white;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }