.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
  }
  
  .timeline-slider {
    -webkit-appearance: none; /* Varsayılan stil kaldırılır */
    width: 100%; /* Genişlik */
    height: 10px; /* Yüksekliği artırmak için kullanılabilir */
    background: transparent; /* Arka planı kaldır */
  }
   
  .timeline-slider::-webkit-slider-runnable-track {
    height: 100px; /* Track yüksekliği */
    background: #4d65c3; /* Çubuğun rengi */
    border-radius: 5px; /* Köşe yuvarlama */
  }
   
  .timeline-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px; /* Thumb yüksekliği */
    width: 20px; /* Thumb genişliği */
    background: #007bff; /* Thumb rengi */
    border-radius: 50%; /* Thumb yuvarlama */
    cursor: pointer; /* El ikonu */
    margin-top: -5px; /* Thumb hizalama */
  }
   
  .timeline-slider::-moz-range-track {
    height: 10px; /* Track yüksekliği (Firefox) */
    background: #ddd;
    border-radius: 5px;
  }
   
  .timeline-slider::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
  }
  .timeline-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0;  width: 0; background: transparent; pointer-events: none; 
  }
  
  .timeline {
    position: relative;
    height: 150px;
    width: 100%;
    background-color: #222;
    border: 1px solid #444;
    display: flex; 

    align-items: center;
    overflow: hidden;
  }

  .subtitle-container {
    height: 20px;
  }