.subtitle-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    color: white;

  }
  .animated-text {
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000; 
    animation: stretch-shrink 1s infinite ease-in-out; 
    width: 70%; 
    text-align: center; 
  }
  
  /* Keyframes for the animation */
  @keyframes stretch-shrink {
    0% {
      transform: scaleX(1) scaleY(1); 
    }
    20% {
      transform: scaleX(1.5) scaleY(0.8); 
    }
    50% {
      transform: scaleX(0.9) scaleY(1.2); 
    }
    70% {
      transform: scaleX(1.2) scaleY(0.9); 
    }
    100% {
      transform: scaleX(1) scaleY(1); 
    }
  }